.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;

    .text{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .footer{
        display: block;
        .text{
            text-align: center;
            line-height: 2rem;
        }


        hr{
            width: 100px;
        }
    }
  }